   
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Lora', 'Times New Roman, san-serif';
    background-color:#E0E0E2;
}
.title{      
    margin: 10px;
    padding: 10px;
    width: 100%; 
    height: 250px;    
}
.photo{
    position: absolute;    
    display: grid;    
    align-items:right;
    margin: 10px;
    padding: 0;
    border:0;
    max-width: 150px;
    max-height: 100%;
    right: 40px;
}
.text{
    position: absolute; 
    display: grid;   
    font-size: 22px;
    color: #416788;    
    text-align: center;
    flex-direction: column;
}
.chooseLab{
    position: relative;
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 100%;
}
.button{    
    background-color: #7389AE;
    border: none;
    color: #E0E0E2;
    padding: 15px 5px;
    margin: 0px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}
.button:hover{        
    box-shadow: 0 5px 15px 0 #707e8b;
}
.button:active{
    background-color: #416788;
    box-shadow: 2 2px #707e8b;
    transform: translateY(2px);
}
.tasks{
    position: relative; 
    display: flex;
    padding: 10px 10px;
    margin: 5px 8px;
    border-radius: 10px;
    flex-direction: column;
    width: 50%;
    justify-content:space-between;
}